* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  padding: 0px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-family: 'Oswald' , sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: 'Oswald' , sans-serif;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: gold;
}
/* hero section */

.sec {
  background-image: url('/assets/nikguy-construction-site-2733678_1280\ \(1\).jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  padding-top: 90px;
}

.hero {
  padding: 100px 40px;
}

.about-head {
  padding-bottom: 20px;
}

.about-head h2 {
  color: gold;
  font-size: 25px;
  font-family: 'Oswald' , sans-serif;
}

.line {
  margin: 10px 0;
  width: 10%;
  height: 2px;
  background-color: gold;
}

.about-text h1 {
  font-size: 50px;
  color: #fff;
  font-family: 'Oswald' , sans-serif;
  width: 650px;
  padding-bottom: 10px;
}

.about-text p {
  color: #ddd;
  font-size: 17px;
  /* text-align: center; */
  font-family: 'Montserrat' , sans-serif;
  width: 600px;
  line-height: 30px;
}
 
@media (max-width: 480px) {
  .sec {
    height: 100vh;
  }
  .hero {
    padding: 20px;
  }

  .about-head h2{
    font-size: 18px;
  }

  .about-text h1 {
    font-size: 30px;
    width: 290px;
  }

  .about-text p {
    font-size: 15px;
    width: 250px;
  }
  
}

@media (max-width: 900px) {
 .hamburger {
  display: block;
 }

 .hamburger.active .bar:nth-child(2){
  opacity: 0;
 }

 .hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
 }

 .hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
 }

 ul {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }

  li {
    margin: 16px 0;
  }

  a {
    color: white;
  }

  ul.active {
    left: 0;
  }

}