* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  padding: 0px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-family: 'Oswald' , sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: 'Oswald' , sans-serif;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: gold;
}
/* hero section */

.sec {
  background-image: url('/assets/nikguy-construction-site-2733678_1280\ \(1\).jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  padding-top: 90px;
}

.hero {
  padding: 100px 40px;
}

.about-head {
  padding-bottom: 20px;
}

.about-head h2 {
  color: gold;
  font-size: 25px;
  font-family: 'Oswald' , sans-serif;
}

.line {
  margin: 10px 0;
  width: 10%;
  height: 2px;
  background-color: gold;
}

.about-text h1 {
  font-size: 50px;
  color: #fff;
  font-family: 'Oswald' , sans-serif;
  width: 650px;
  padding-bottom: 10px;
}

.about-text p {
  color: #ddd;
  font-size: 17px;
  /* text-align: center; */
  font-family: 'Montserrat' , sans-serif;
  width: 600px;
  line-height: 30px;
}
/* more section */
.more {
  padding: 8% 40px;
  background-color: #f2f2f2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

.who-svg,
.mission-svg,
.choose-svg,
.vision-svg {
  background-color: #fff;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.who-text h3,
.choose-text h3,
.vision-text h3,
.mission-text h3 {
  font-size: 25px;
  font-family: 'Oswald' , sans-serif;
  text-transform: capitalize;
  color: #333;
  padding: 10px 0;
}

.who-line,
.choose-line,
.mission-line,
.vision-line {
  background-color: gold;
  width: 40%;
  height: 2px;
  margin: 20px 0;
}

.grid-container svg {
  width: 60px;
  height: 60px;
  fill: gold;
}

.who-text p,
.choose-text p,
.vision-text p ,
.mission-text p {
  font-family: 'Montserrat' , sans-serif;
  line-height: 30px;
}
/* build section */
.build {
  padding: 5% 40px;
}

.build-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f2f2f2;
  padding: 30px 20px;
}

.build-svg svg {
  width: 70px;
  height: 70px;
  fill: gold;
}

.build-text h3 {
  font-size: 25px;
  font-family: 'Oswald' , sans-serif;
  padding: 10px 0;
  text-transform: capitalize;
}

.build-text p {
  font-size: 16px;
  font-family: 'Montserrat' , sans-serif;
  color: #333;
  width: 650px;
  line-height: 30px;
}

.button button{
  background-color: gold;
  color: #fff;
  padding: 20px 40px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}



 
@media (max-width: 480px) {
  .sec {
    height: 100vh;
  }
  .hero {
    padding: 20px;
  }

  .about-head h2{
    font-size: 18px;
  }

  .about-text h1 {
    font-size: 30px;
    width: 290px;
  }

  .about-text p {
    font-size: 15px;
    width: 250px;
  }

  .build-flex {
    flex-direction: column;
  }

  .build-text {
    text-align: center;
  }

  .build-text h3 {
    font-size: 25px;
    line-height: 30px;
  }

  .build-text p {
    width: 250px;
  }

  .button {
    padding-top: 20px;
  }
  
}

@media (min-width: 481px) and (max-width: 768px) {
  .sec {
    height: 120vh;
  }
  .about-text h1 {
    font-size: 35px;
    width: 500px;
  }

  .about-text p {
    font-size: 16px;
    width: 390px;
  }

  
  .build-flex {
    flex-direction: column;
  }

  .build-text {
    text-align: center;
  }

  .build-text h3 {
    font-size: 25px;
    line-height: 30px;
  }

  .build-text p {
    width: 400px;
  }

  .button {
    padding-top: 20px;

  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .sec {
    height: 120vh;
  }

  
  .build-flex {
    flex-direction: column;
  }

  .build-text {
    text-align: center;
  }

  .build-text h3 {
    font-size: 25px;
    line-height: 30px;
  }

  .build-text p {
    width: 500px;
  }

  .button {
    padding-top: 20px;
  }
}

@media (max-width: 900px) {
 .hamburger {
  display: block;
 }

 .hamburger.active .bar:nth-child(2){
  opacity: 0;
 }

 .hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
 }

 .hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
 }

 ul {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }

  li {
    margin: 16px 0;
  }

  a {
    color: white;
  }

  ul.active {
    left: 0;
  }

}